<div class="registro cardPrincipal">
  <form
    class="custom-form"
    [formGroup]="formPlanificarQuedada"
    (ngSubmit)="onSubmit()"
  >
    <h2 class="text-center mb-4">
      <i class="bi bi-calendar2-date" style="color: #1f3c85">Planificar quedada</i>
    </h2>
    <div class="alert alert-warning text-center mb-4" role="alert">
      ¡Atención! Al planificar esta quedada, aceptas la condición de ser el
      organizador y responsable de la misma.
    </div>
    <div class="mb-3">
      <label for="lugar" class="form-label textoPrincipal">Lugar</label>
      <input
        formControlName="lugar"
        type="text"
        id="lugar"
        name="lugar"
        class="form-control"
        placeholder="Introduzca la ubicación"
        required
      />
      <div class="text-center mt-2" *ngIf="formPlanificarQuedada.get('lugar')?.invalid && formPlanificarQuedada.get('lugar')?.touched">
        <small class="text-danger">El lugar es obligatorio.</small>
      </div>
    </div>
    <div class="mb-3">
      <label for="fechaHora" class="form-label textoPrincipal">Fecha y hora</label>
      <input
        formControlName="fechaHora"
        type="datetime-local"
        id="fechaHora"
        name="fechaHora"
        class="form-control"
        required
        [min]="fechaMinima"
      />
      <div class="text-center mt-2" *ngIf="formPlanificarQuedada.get('fechaHora')?.invalid && formPlanificarQuedada.get('fechaHora')?.touched">
        <small class="text-danger">Para que los participantes se puedan unir a la quedada, la quedada debe ser planificada con al menos 24 horas de anticipación.</small>
      </div>
    </div>
    <div class="mb-3">
      <label for="descripcion" class="form-label textoPrincipal">Descripción</label>
      <input
        formControlName="descripcion"
        type="text"
        id="descripcion"
        name="descripcion"
        class="form-control"
        placeholder="Introduzca una breve descripción"
        required
      />
      <div class="text-center mt-2" *ngIf="formPlanificarQuedada.get('descripcion')?.invalid && formPlanificarQuedada.get('descripcion')?.touched">
        <small class="text-danger">La descripción es obligatoria.</small>
      </div>
    </div>
    <div class="mb-3">
      <label for="estado" class="form-label textoPrincipal">Estado</label>
      <select formControlName="estado" class="form-control" required>
        <option value="Planificada" selected>Planificada</option>
        <option value="Completada" disabled>Completada</option>
        <option value="Cancelada" disabled>Cancelada</option>
      </select>
      <div class="text-center mt-2" *ngIf="formPlanificarQuedada.get('estado')?.invalid && formPlanificarQuedada.get('estado')?.touched">
        <small class="text-danger">El estado es obligatorio.</small>
      </div>
    </div>
    <button type="submit" id="btnRegistro" class="btn btn-primary mt-5">
      <i class="bi bi-calendar2-date fs-5"> Planificar</i>
    </button>
  </form>
</div>
