<div class="vg-footer bg-dark bg-gradient">
    <div class="container d-flex justify-content-between align-items-center">
      <a class="navbar-brand text-white" href="#" style="pointer-events: none;"><img src="../../../assets/logo.webp" class="logo" alt="logo bikerconnect" style="width: 130px;"></a>     
      <p class="text-center mb-0 mt-1 footer-p">Copyright © 2024 - BikerConnect Todos los Derechos Reservados</p>
      <ul class="nav list-unstyled d-flex">
        <li class="ms-3"><a class="text-white" href="#"><i class="bi bi-twitter-x fs-4"></i></a></li>
        <li class="ms-3"><a class="text-white" href="#"><i class="bi bi-facebook fs-4"></i></a></li>
        <li class="ms-3"><a class="text-white" href="#"><i class="bi bi-instagram fs-4"></i></a></li>
      </ul>
    </div>
</div>
