<nav class="navbar navbar-dark navbar-expand-lg bg-dark bg-gradient text-white w-100">
    <div class="container-fluid ms-5">
        <a class="navbar-brand text-white" href="#"><img src="../../../assets/logo.webp" class="logo" alt="logo bikerconnect"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-3" id="navbarSupportedContent">
            <ul class="navbar-nav me-5 ms-auto">
                <li class="nav-item me-3" *ngIf="componenteActual === ''">
                    <a class="nav-link fw-bold text-white" routerLink="/autenticacion/login"><i class="bi bi-box-arrow-in-right fs-5"> Iniciar sesión</i></a>
                </li>
                <li class="nav-item me-3" *ngIf="componenteActual === ''">
                    <a class="nav-link fw-bold text-white" routerLink="/autenticacion/registrar"><i class="bi bi-person-add fs-5"> Crear cuenta</i></a>
                </li>
                <li class="nav-item me-3" *ngIf="componenteActual === 'autenticacion/login'">
                    <a class="nav-link fw-bold text-white" routerLink="/autenticacion/registrar"><i class="bi bi-person-add fs-5"> Crear cuenta</i></a>
                </li>
                <li class="nav-item me-3" *ngIf="componenteActual === 'autenticacion/registrar'">
                    <a class="nav-link fw-bold text-white" routerLink="/autenticacion/login"><i class="bi bi-box-arrow-in-right fs-5"> Iniciar sesión</i></a>
                </li>
                <li class="nav-item me-3" *ngIf="componenteActual === 'autenticacion/dashboard'">
                    <button type="button" class="btn buttonPrincipal" (click)="onClick()"><i class="bi bi-box-arrow-in-left"> Cerrar sesión</i></button>
                </li>               
            </ul>
        </div>
    </div>
</nav>
