<div class="card bg-light cardPrincipal cardAdminUser">
    <div class="card-header border-bottom border-3">
        <h3 class="subtituloSecundario">Administración de usuarios</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <button (click)="navegarARegistro()" class="btn buttonPrincipal p-2 mb-3" role="button">
                    <i class="bi bi-person-add p-2 fs-5"> Registrar usuario</i>
                </button>                  
            </div>
            <div class="col-md-6 text-end mt-2">
<!--                 <form (ngSubmit)="buscarUsuarios()" #searchForm="ngForm">
                    <div class="input-group">
                        <input type="text" class="form-control" name="busquedaUser" placeholder="Buscar por el email del usuario" [(ngModel)]="busquedaUser">
                        <button class="btn buttonPrincipal" type="submit">Buscar</button>
                    </div>
                </form> -->
            </div>
        </div>
        <h5 class="card-title text-center text-danger" *ngIf="usuarios.length === 0">No hay usuarios registrados</h5>

        <table class="table table-striped table-bordered" *ngIf="usuarios.length > 0">
            <thead class="thead-inverse">
                <tr>
                    <th class="tableCustom">Nombre</th>
                    <th class="tableCustom">Apellidos</th>
                    <th class="tableCustom">Email</th>
                    <th class="tableCustom">Teléfono</th>
                    <th class="tableCustom">Fecha de registro</th>
                    <th class="tableCustom">Rol</th>
                    <th class="tableCustom">Edición</th>
                    <th class="tableCustom">Eliminado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellidos }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.telefono }}</td>
                    <td>{{ usuario.fechaRegistro | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td>{{ usuario.rol === 'ROLE_USER' ? 'USER' : 'ADMIN' }}</td>
                    <td>
                        <a class="btn buttonPrincipal" routerLink="/administracion/editar-usuario/{{ usuario.id }}">
                            <i class="bi bi-pencil-square"> Editar</i>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-danger" *ngIf="usuario.id"
                        (click)="eliminarUsuario(usuario.id, usuario.email)">
                            <i class="bi bi-trash"> Eliminar</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
