<div class="registro cardPrincipal">
    <form class="custom-form" [formGroup]="formularioRegistro" (ngSubmit)="onSubmit()">
     
      <h2 class="text-center mb-5"><i class="bi bi-person-vcard-fill" style="color: #1f3c85;"> Registro nuevo usuario</i></h2>
      <div class="mb-3">
        <label for="email" class="form-label textoPrincipal">Correo Electrónico</label>
        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          class="form-control"
          placeholder="Escribe tu correo electrónico"
          required           
        />
      </div>
      <div class="mb-3">
          <label for="password" class="form-label textoPrincipal">Contraseña</label>
        <input
           type="password"
           id="password"
           name="password"
           formControlName="password"
           class="form-control"
           placeholder="Escribe tu contraseña"
           required
        />
       </div>
      <hr class="border border-primary border-2 opacity-80 mt-5 mb-5">
      <div class="mb-3">
        <label for="nombre" class="form-label textoPrincipal">Nombre</label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          formControlName="nombre"
          class="form-control"
          placeholder="Escribe tu nombre"
          required
        />
      </div>
      <div class="mb-3">
        <label for="apellidos" class="form-label textoPrincipal">Apellidos</label>
        <input
          type="text"
          id="apellidos"
          name="apellidos"
          formControlName="apellidos"
          class="form-control"
          placeholder="Escribe tus apellidos"
          required
        />
      </div>
      <div class="mb-3">
        <label for="telefono" class="form-label textoPrincipal">Teléfono</label>
        <input
          type="tel"
          id="telefono"
          name="telefono"
          formControlName="telefono"
          class="form-control"
          placeholder="Escribe tu número de teléfono"
          required
        />
      </div>
      <button type="submit" value="Enviar" id="btnRegistro" class="btn btn-primary mt-5"><i class="bi bi-person-add fs-5"> Crear cuenta</i></button>
    </form>
  </div>
